<div id="all">
      <div id="content">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <!-- breadcrumb-->
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="/">Home</a></li>
                  <li aria-current="page" class="breadcrumb-item active">Text page</li>
                </ol>
              </nav>
            </div>
            <div class="col-lg-3">
              <!--
              *** PAGES MENU ***
              _________________________________________________________
              -->
              <div class="card sidebar-menu mb-4">
                <div class="card-header">
                  <h3 class="h4 card-title">Pages</h3>
                </div>
                <div class="card-body">
                  <ul class="nav nav-pills flex-column">
                    <li><a href="text" class="nav-link">Text page</a></li>
                    <li><a href="contact" class="nav-link">Contact page</a></li>
                    <li><a href="#" class="nav-link">FAQ</a></li>
                  </ul>
                </div>
              </div>
              <!-- *** PAGES MENU END ***-->
              <div class="banner"><a href="#"><img src="img/banner.jpg" alt="sales 2014" class="img-fluid"></a></div>
            </div>
            <div class="col-lg-9">
              <div id="text-page" class="box">
                <h1>ThavaShop member</h1>
                <p class="lead">Dang Cong Thanh - 19127548.</p>
                <p class="lead">Le Nguyen Tu Van - 19127626.</p>
                <blockquote class="blockquote">
                  <p>Our group will work on a fashion ecommerce website which will sell clothes for both men and women. Customers can find their favorite eye-catching clothing products and make purchases with PayPal and we can ensure the orders get to their hand on time.</p>
                </blockquote>
                <hr>
                <h2>Images</h2>
                <div class="row">
                  <div class="col-md-4">
                    <p class="text-center"><img src="img/tvan.jpg" alt="" class="img-circle img-fluid"></p>
                    <p class="text-center">Tú Văn</p>
                  </div>
                  <div class="col-md-4">
                    <p class="text-center"><img src="img/cthanh.png" alt="" class="img-thumbnail img-fluid"></p>
                    <p class="text-center">Công Thành</p>
                  </div>
                  <div class="col-md-4">
                    <p class="text-center"><img src="img/detailsquare.jpg" alt="" class="rounded-circle img-fluid"></p>
                    <p class="text-center">rounded</p>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.col-lg-9-->
          </div>
        </div>
      </div>
    </div>